.Block {
    text-align: left;
    background: white;
    margin: 5px;
    width: 250px;
    min-width: 250px;
    border-top: 1px dashed blue;
    border-left: 1px dashed blue;
    border-right: 1px dashed blue;
}

.Text {
    margin-top: 0px;
    padding: 3px;
    border-bottom: 1px solid;
    border-color: black;
    position: relative;
    z-index: 8;
}